
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #056D7D;
  font-family: "Trebuchet MS", sans-serif;
  box-sizing: 20px;
  margin-top: 20px;
}

li {
  float: left;
  white-space: nowrap;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Trebuchet MS", sans-serif;
}

h1{
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

li a:hover {
  background-color: #F89224;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  align-items: stretch;
  display: grid;
  align-items: flex-start;
  gap: 0 20px;
  grid-template-columns: auto auto auto;
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
   " a a a a a "
   " b b b b b ";
}

.card .card-item {
  position: relative;
}

.card .card-item-row2{
  margin-top: 300px;
  grid-area: b;
}

.card img {
  height: 350px;
  width: 300px;
  transition: 0.4s ease-in-out all;
}

.card .card-details {
  position: absolute;
  padding: 10px 5px;
  bottom: 0px;
  opacity: 0;
  transition: 0.4s ease-in-out all;
}

.card-details h1 {
  font-size: 18px;
  margin: 2px 0;
  background-color: #056D7D;
  opacity: 0.90;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}
.card-details p {
  font-size: 14px;
  color: white;
  background-color: #F89224;
  padding: 10px;
  font-family: "Trebuchet MS", sans-serif;
}

.card-item:hover .card-details {
  opacity: 1;
  bottom: 10px;
}

.card-item-row2:hover .card-details {
  opacity: 1;
  bottom: 10px;
}

.card-item:hover img {
  transform: scale(1.05);
}

.card-item-row2:hover img {
  transform: scale(1.05);
}

@media(max-width:600px){
  .card {
  grid-template-columns: 1fr;  gap: 0 20px;
}
  .container {
    height: 210vh;}
}
