body, html {
    height: 100%;
    width: 100%

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #056D7D;
  font-family: "Trebuchet MS", sans-serif;
  box-sizing: 20px;
  margin-top: 20px;
}

li {
  float: left;
  white-space: nowrap;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Trebuchet MS", sans-serif;
}
a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Trebuchet MS", sans-serif;
}
a:hover {
  background-color: #F89224;
  block-size: relative;
  transition: all 2s cubic-bezier(0,1.49,.83,.67);
}

li a:hover {
  background-color: #F89224;
  transition: all 2s cubic-bezier(0,1.49,.83,.67);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/Personalall.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 5%;
  padding: 5%;
}

.hero-text {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Trebuchet MS", sans-serif;
  box-sizing: 20px;
  color: white;
  box-sizing: 20px;

}
.hero-text :hover {
  background-color: #F89224;
  transition: all 2s cubic-bezier(0,1.49,.83,.67);
}
.container-aboutme{
  position: relative;
  padding: 25px 50px;
  width: 50%;
  margin: auto;
  align: center;
  font-family: "Trebuchet MS", sans-serif;
}
.card1 {
  text-align: center;
  margin-top: 5em;
}
.card1 img{
  width: 30%;
  margin: auto;
  position: relative;
}

footer {
  padding: 10px 20px;
  margin-top: 20%;
  background: #056D7D;
  color: white;
  width: 100%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github{
  background: black;
  color: white;


}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.container-socialmedia{
  position: center;
  width: 50%;
  margin-bottom: 0%;
  align: left;
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 5%;
}
.container-aboutme{
  position: center;
  width: 50%;
  margin-bottom: 5%;
  align: left;
  font-family: "Trebuchet MS", sans-serif;
}
.container-aboutme h2{
  font-family: "Trebuchet MS", sans-serif;



}

.container-aboutme-text p{
  font-family: "Trebuchet MS", sans-serif;
  font-size: 15px;


}

.header-container {
  margin: center;
}
.links-header-container ul{

}
.links-header-container a{
  margin: center;
}


.container {
 grid-gap: 1rem;
 height: 100%;
}
.card {
 display: grid;
 height: 100%;
 margin-left: 25%;
 grid-template-columns: 300px 300px 300px;
 grid-template-rows: 500px 500px;
}

.card .card-item1 {
  position: relative;
  margin: auto;
}
.card .card-item2 {
  position: relative;
  margin: auto;
}
.card .card-item3 {
  position: relative;
  margin: auto;
}
.card img {
  height: 250px;
  width: 250px;
  transition: 0.4s ease-in-out all;
}

.card .card-details {
  position: absolute;
  padding: 10px 5px;
  bottom: 0px;
  opacity: 0;
  transition: 0.4s ease-in-out all;
}

.card-details h1 {
  font-size: 18px;
  margin: 2px 0;
  color: white;
}
.card-details p {
  font-size: 14px;
}
.card-item1:hover .card-details {
  opacity: 1;
  bottom: 10px;
}

.card-item1:hover img {
  transform: scale(1.05);
}
.card-item2:hover .card-details {
  opacity: 1;
  bottom: 10px;
}

.card-item2:hover img {
  transform: scale(1.05);
}

.card-item3:hover .card-details {
  opacity: 1;
  bottom: 10px;
}

.card-item3:hover img {
  transform: scale(1.05);
}

@media(max-width:600px){
  .card {
  grid-template-columns: 1fr;  gap: 0 10px;
}
